body{
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
   
}

.main{
    background-image: url(../img/background.jpg) ;
    color: white;
    text-align: center;
    margin-bottom: 25px;
    
}

.menu{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    padding: 10px;
}

.menu a{
    text-decoration: none;
    color: white;
}

.text-1{

    font-size: 25px;
    line-height: 1px;
    padding: 50px;
    font-weight: 275;
}
.menu-logo img{
    width: 45px;
}

.main-menu{
    display: grid;
    grid-template-columns: 1fr 5fr;
    padding: 25px;
}
.menu-button{
    height: 25px;
    width: 90px;
    font-size: 10px;
    color: #0134ff;
    font-weight: 600;
}
.button-1{
    margin-top: -5px;
    border-radius: 10px;
}
.BUTTON-2{
    height: 35px;
    width: 150PX;
    font-size: 9px;
    margin-top: 10px;
    background: transparent;
    color: white;
    border: 2px solid rgb(187, 133, 33);
    border-radius: 10px;
}
.marquee{
    text-align: center;
    width: 70%;
    margin: auto;
    margin-bottom: 50px;
   
}
.body{
    text-align: center;
}
.head{
    color: #0d4781;
}

.colum-main{

    text-align: center;
    margin: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 50px;
}

.lic-{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 50px;
}

h2, h3{
    color: #0d4781;
}
li{
    color: #0d4781;
    font-weight: 570;
}

.colum-main div{
    text-align: justify;
    margin-left: 50px;
}

.lic img{
    width: 670px;
    height: 275px;
    margin-bottom: 50px;
}

.culture{
    text-align: center;
    margin-bottom: 50px;
}

.help{
    text-align: center;

}
.help img{
    width: 670px;
    height: 202px;
    margin-bottom: 50px;
}

.Feature{
    text-align: center;
}

.blog{

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 250px;
    margin-right: 250px;
    margin-bottom: 50px;
    gap: 15px;
}

.blog-img{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 20px;
}

.certificate{
    text-align: center;
    margin-bottom: 100px;
}
.Certifications{
    margin-top: 50px;
    margin-left: 300px;
    margin-right: 300px;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.footer-main{
    background-color: aliceblue;

}

.footer{
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    width: 70%;/*  */
    margin: auto;
    
    
}
.REVIEWE{
    background-image: url(../img/footer-back.png) ;
    padding-top: 100px;
    
}

.footer a{
    text-decoration: none;
    color: black;
}

a:hover{
    color: #1360ad;
}
